<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>スレッド作成画面</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<header>
	<h1>SpringBBS</h1>			
</header>

<body>
    <div class="login-container">
		<h2>スレッド作成</h2>
		<div th:if="${errMessage}" class="error-content">
			<p th:text="${errMessage}">エラーメッセージ</p>
		</div>
        <form th:action="@{/NewThread}" method="post" th:object="${thraedForm}">
            <input type="text" name="title" placeholder="タイトル" class="ThreadInputForm">
            <p style="text-align: center;"><button type="submit" class="ThreadFormBtn">Create</button></p>
            
        </form>
    </div>
</body>

</html>