<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ユーザー登録画面</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
</head>

<body>
    <div class="login-container">
		<h2>ユーザ登録</h2>
        <form th:action="@{/regist}" method="post" th:object="${userForm}">
			<ul th:if="${#fields.hasErrors('*')}">
				<div class="error-content">
				<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
				</div>
			</ul>
			
            <input type="text" name="username" class="login-input" placeholder="Username">
            <input type="password" name="password" class="login-input" placeholder="Password">
            <button type="submit" class="login-btn">Regist</button>
        </form>
    </div>
</body>

</html>