<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet">
</head>
<body>
<header>
	<h1>SpringBBS</h1>			
</header>
<div class="login-container">
	<h1>スレッド編集</h1>
	<div th:if="${errMessage}" class="error-content">
			<p th:text="${errMessage}">エラーメッセージ</p>
	</div>
	<form th:action="@{/ThreadEdit}" method="POST" th:object="${thraedEditForm}">
		<p style="text-align: center;"><input type="text" name="title" th:value="${thread.title}" class="ThreadInputForm"/></p>
		<input type="hidden" name="id" th:value="${thread.id}" />
		<p style="text-align: center;"><input type="submit" class="ThreadFormBtn"></p>
	</form>
</div>
</body>
</html>