<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <h1 th:text="${thread.title}"></h1>	
	<table>
		<tr th:each="msg : ${msgs}">
			<td th:text="${msg.msg_text}"></td>
			<td th:text="${msg.bbsuser.name}"></td>
			<td th:text="${msg.created_at}"></td>			
		</tr>
	</table>
	<p th:if="${errMessage}" th:text="${errMessage}">エラーメッセージ</p>
	<form th:action="@{/SendMeg}" method="post" th:object="${messageForm}">
			<ul th:if="${#fields.hasErrors('*')}">
				<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>			
			</ul>		
		<input type="hidden" name="thread_id" th:value="${thread_id}"/>
		<input type="hidden" name="user_id" th:value="${user_id}"/>
		<textarea name="message" ></textarea>
		<input type="submit" value="送信" />
	</form>
</body>
</html>